<div class="container">
  <div class="row">
    <div class="col-6">
      <h5>User Information</h5>
      <form [formGroup]="myForm" novalidate (ngSubmit)="register()">
        <div class="form-group">
          <label for="registerName" i18n>Name</label>
          <input
            class="form-control"
            formControlName="name"
            id="registerName"
            placeholder="Enter your first name..."
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="registerEmail" i18n>Email</label>
          <input
            class="form-control"
            formControlName="email"
            id="registerEmail"
            placeholder="Enter your email..."
            type="email"
          />
        </div>
        <div class="form-group">
          <label for="registerPassword" i18n>Password</label>
          <input
            class="form-control"
            formControlName="password"
            id="registerPassword"
            placeholder="Enter your password..."
            type="password"
          />
        </div>
        <button class="btn btn-danger" [disabled]="myForm.invalid" >Submit</button>
      </form>

    </div>
  </div>
</div>
