<div *ngFor="let prod of product; let i = index;">
  <input type="text" [(value)]="prod.name" (change)="changeValue(i)"> <br>
  <ng-container *ngIf="i == changeIndex[0]">
    <label class="error_msg">I got changed</label>
  </ng-container>
</div>
