<div class="container">
  <div class="row bg-light justify-content-center align-items-center" style="height: 100vh">
    <div class="col-sm-10 text-center">
      <h1 class="display-2 text-danger font-weight-bold"> Bookstore </h1>
      <h2 class="display-2 text-dark">online books</h2>
      <h3 class="font-italic font-weight-light text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, sapiente!</h3>
    </div>
  </div>
</div>
