<div class="container">
  <!-- Menu Bar -->
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" >
        <a class="navbar-brand" > <i class="fa fa-book text-danger fa-2x"></i> </a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#nav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
          <ul class="navbar-nav mx-auto justify-content-between">
            <li class="nav-item"
              [routerLinkActiveOptions]="{exact: true}"
              routerLinkActive="active">
              <a class="nav-link"
                [routerLink]="['/']"
              >Home
              <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                [routerLink]="['/categories']"
              >Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                [routerLink]="['/books']"
              >Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                [routerLink]="['/contact']"
              >Contact</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>

<!-- Route Display -->
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
